.cal-body {
	background-color: #BDBDBD;
	height: auto;
	margin-top: 20px;
	border-radius: 15px;
}
.cal-rows {
	margin: 10px 0px 10px 0px;
	text-align: center;
}
.elements-style {
	height: 50px;
	margin: 0px 10px 0px 10px;
	font-size: 2em;
	box-shadow: 2px 2px 5px #888888;
	border-radius: 15px;
	padding-top: 1%;
	word-wrap: break-word;
	transition: font-size .5s;
	transition: height .5s;
}
.elements-style:hover {
	cursor: pointer;
	opacity: .75;
	color: #0092CF;
	font-size: 2.5em;
	padding-top: 0%;
}
.clear-btn {
	background-color: #0092CF;
}
.answer {
	background-color: #000000;
	color: #ffffff;
	text-align: right;
	height: auto;

}
.num-btn {
	background-color: #FF8D00;
}